.accordion-item{
    border: none !important;
}
.chechBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 47px;
    width: 47px;
    border-radius: 50%;
    border: 1px solid #d4d4d4;
    font-size: 16px;
    -webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease, opacity .3s ease;
    transition: color .3s ease, background-color .3s ease, border-color .3s ease, opacity .3s ease;
    margin-right: 8px;
    cursor: pointer;
}
.chechBox-selected{
    background-color: #3b4658;
    color: white;
    border-color: #3b4658;
}

.additional-filters{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 10px 20px;
    margin-right: 8px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #dedede;
    background-color: #fff;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}

.additional-filters-active{
    background-color: #3b4658;
    color: white;
    border-color: #3b4658;
}
.body{
    background-color: #f9f9f9;
}
.current-page{
    text-decoration: underline;
}
.css-187mznn-MuiSlider-root{
    color: #3b4658 !important;
}